
.chat{
}
#textInputButton{
    width: 100%;
}
#textInput{
    width: 300%;
}
.sideChart{
    height: 90%;
}
.textInputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}
