#header {
    background: #1c1f26;
    color: #fff;
    width: 100%;
    height: 10vh;
    font-size: 10vh;
    user-select: none;
    line-height: 10vh;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px black;
}
#login{
  background: #1c1f26;
  color: #fff;
  width: 70vw;
  height: 70vh;
  border-radius: 15px;
  position: absolute;
  margin: auto;
  top: 10vh;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px black;
}

input[type=text]{
    font-size: 2vh;
    text-align:center;
    height: 50%;
    width: 100%;
    margin-top: 6px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px black;
}

.bttn{
font-size: 2vh;
text-align:center;
border-radius: 7px;
width:100%;
}

#newFriend{
    width: 50%;
    height: 15%;
    position: absolute;
    margin: auto;
    top: 5%;
    right: 0;
    left: 0;
    }

body {
    font-family: Arial;
    margin: 0;
 }

.scroll-container{
  overflow: auto;
  margin: auto;
  height: 70%;
  position: relative;
}
  .ul-scroll {
    list-style: none;
    list-style-type: none;
    position: relative;
    transition: transform .3s;
    padding-left:5px;
  }

#submitBttn{
    padding-top:1%;
    width:100%;
    height:49%;
}

#friends{
    width:40%;
    height:70%;
    position: absolute;
    margin: auto;
    top: 15vh;
    right: 40vw;
    bottom: 0;
    left: 0;
}
#invites{
    width:40%;
    height:70%;
    position: absolute;
    margin: auto;
    top: 15vh;
    left: 40vw;
    bottom: 0;
    right: 0;
}

#inviteToPlay{
    left: -5vw;
    margin-top:5px;
}
.txt{
    text-align: center;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}