#header {
    background: #1c1f26;
    color: #fff;
    width: 100vw;
    height: 20vh;
    font-size: 20vh;
    user-select: none;
    line-height: 20vh;
    /* box-shadow: inset 0 4px 6px -5px black; */
}
img {
    margin-left: 43vw;
    margin-top: 1vh;
    height:18vh;
    -webkit-user-drag: none;
}

#login {
    background: #1c1f26;
    position: absolute;
    top: 20vh;
    right: 0;
    bottom: 0;
    left: 0;
}

input[type=text] {
    font-size: 2vh;
    text-align: center;
    height: 50%;
    width: 100%;
    margin-top: 6px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0 4px 6px -5px black;
}

.bttn {
    font-size: 2vh;
    text-align: center;
    border-radius: 7px;
}

body {
    font-family: Arial;
    margin: 0;
}

.brushes {
    display: inline-block;
    padding-bottom: 0.5vh;
}

.brushes button {
    display: block;
    width: 5vw;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    float: left;
}

.brushes button:after {
    display: block;
    background: grey;
    content: '';
    border-radius: 15px;
}

.brushes button:nth-of-type(1):after {
    height: 3px;
    margin-top: 0.4vh;
}

.brushes button:nth-of-type(2):after {
    height: 6px;
    margin-top: 0.25vh;
}

.brushes button:nth-of-type(3):after {
    height: 9px;
    margin-top: 0.15vh;
}

.brushes button:nth-of-type(4):after {
    height: 12px;
}

.brushes button:nth-of-type(5):after {
    height: 15px;
    margin-top: -0.3vh;
}

.buttons {
    width: 10vw;
    height: 10vh;
    display: inline-block;
    padding-left: 10px;
    margin-top: 5vh;
}

.buttons button {
    display: block;
    width: 100%;
    border: 0;
    background-color: #ece8e8;
    height: 30px;
    outline: none;
    cursor: pointer;
    position: relative;
    top: -1.8vh;
}

#paint-canvas {
    background-color: white;
    height: 70vh;
    width: 70vw;
    cursor: crosshair;
    position: absolute;
    top: 0;
    left: 15vw;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-shadow: inset 0 3px 9px -3px rgba(0, 0, 0, 1);
}

.chooseWord {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.chooseWordContent {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 50%;
    height: 10%;
    background-color: transparent;
}

.posWord {
    margin-top: 15px;
    width: 100%;
    height: 100%;
    background: #1c1f26;
    color: white;
    font-size: 2vw;
}

.bottom-block {
    overflow: hidden;
    position: absolute;
    left: 15vw;
    height: 10vh;
}

.colors {
    display: inline-block;
    padding-left: 5px;
    position: relative;
}

.colors button {
    border: 1px solid #00000026;
    cursor: pointer;
    width: 2vw;
    height: 4vh;
    margin-left: 0.1vw;
    border-radius: 100%;
}

.colors button:nth-of-type(1) {
    background-color: #000000;
}

.colors button:nth-of-type(2) {
    background-color: #666666;
}

.colors button:nth-of-type(3) {
    background-color: #0000ff;
}

.colors button:nth-of-type(4) {
    background-color: #0fffff;
}

.colors button:nth-of-type(5) {
    background-color: #ffcc00;
}

.colors button:nth-of-type(6) {
    background-color: #00ff00;
}

.colors button:nth-of-type(7) {
    background-color: #f00000;
}

.colors button:nth-of-type(8) {
    background-color: #ff9933;
}

.colors button:nth-of-type(9) {
    background-color: #663300;
}

.colors button:nth-of-type(10) {
    background-color: #aa0fff;
}

.colors button:nth-of-type(11) {
    background-color: #ff66ff;
}

.colors button:nth-of-type(12) {
    background-color: #ffffff;
}

.sideChart {
    border: none;
    height: 70vh;
    width: 15vw;
    background-color: transparent;
    resize: none;
    outline-width: 0;
    color: white;
    font-size: 1.2vw;
}

.right-block {
    height: 60vh;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 85vw;
}

#chat {
    display: inline-block;
    margin-left: 10px;
}

#chat > p {
    font-size: 1vw;
}

.textInputContainer {
    position: absolute;
    top: 60vh;
    left: 85vw;
}

#textInput {
    font-size: 1vw;
    width: 13vw;
    height: 10vh;
    margin-left: 1vw;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    resize: none;
}

::-webkit-scrollbar {
    display: none;
}